.button {
    @include reset-button;
    height: var(--button-height);
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 0 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: var(--border-radius);

    color: var(--color-white);
    background: var(--color-dark-red);
    border: 2px solid var(--color-dark-red);

    @include hover {
        color: var(--color-black);
    background: var(--color-white);
    }
}

.icon {
    @include reset-button;
    @include flex-center;
    cursor: pointer;
    @include hover {
        color: var(--color-red);
    }
}