.header {
    position: relative;
    padding: 10px;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 10px;
        background: linear-gradient(to right, #760000, #9D0606, #B90707, #CE0101);
        border-radius: 5px;

        @include tablet {
            border-radius: 0;
        }
    }

    & .address {

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: -25px;
        //     width: 100%;
        //     height: 6px;
        //     background: var(--color-red);
        // }

        @include tablet {
            display: none;
        }
        & ul {
            align-items: flex-start;

            & li {
                position: relative;
                display: flex;
                gap: 10px;

                &::before {
                    content: "";
                    position: absolute;
                    right: 100%;
                    top: 0;
                    min-width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: url(../images/icons/mark.svg) no-repeat center, var(--color-white);
                }
            }
        }
    }

    & .callback {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.language {
    & a {
        font-weight: 400;
        text-transform: uppercase;

        @include hover {
            font-weight: 600;
        }

        &.active {
            color: var(--color-dark-red);
            font-weight: 600;
        }
    }
}